body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
  /* Asegura que el body ocupe toda la altura de la ventana */
  margin: 0;
  /* Elimina los márgenes por defecto */
}

header {
  border: solid 0px red;
  height: 100px;
  display: flex;
  background-color: black;
  align-items: center;

}

main {
  background-color: #212529;
  color: #4B91C4;
  border: solid 0px red;
  flex-grow: 1;

}

footer {
  border: solid 1px red;
  background-color: black;
  color: #4B91C4;
  font-weight: bold;
}

.logo img {
  height: 70px;
  margin: 10px;

}

.menu {
  border: solid 1px blue;
  display: flex;
}

#blue {
  color: #4B91C4;
}